@import "./variables.scss";
.el-dropdown-menu__item:not(.is-disabled).is-select {
  background-color: $primary-light-7;
  color: $primary-color;
}

.el-card.is-always-shadow {
  background-color: $primary-dark-7;
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
  box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.1);
  > .el-card__body {
    height: 100%;
    width: 100%;
    padding: 16px;
  }

  &.select {
    &:hover, &:focus {
      background-color: $primary-dark-5;
      cursor: pointer;
    }
  }
}

.el-tree {
  height: 100%;
  background-color: $primary-dark-7 !important;
  .el-tree-node {
    .el-tree-node__content {
      height: auto;
      max-height: 40px;
      > .el-tree-node__expand-icon {
        font-size: 18px;
      }
    }
    &.is-current > .el-tree-node__content {
      background-color: $primary-dark-5;
      color: $accent-color;
    }
  }

  
  
}

.el-pagination button:disabled {
  background-color: $primary-dark-7 !important;
}

.el-table {
  background-color: $primary-dark-7 !important;
  tr.el-table__row {
    background-color: $primary-dark-7 !important;
    &.current-row {
      color: $accent-color;
    }
  }
}

.el-loading-mask {
  background-color: rgba($color: $primary-dark-7, $alpha: 0.8)  !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: $primary-dark-7;
}

::-webkit-scrollbar-thumb {
  height: 8px;
  border-radius: 4px;
  background: $primary-light-5;
}