@import "./variables.scss";

body {
  margin: 0;
  > div#app {
    height: 100vh;
    > div {
      height: 100%;
      > .el-header {
        height: auto !important;
      }
    }
  }
}

div {
  margin: 0;
  box-sizing: border-box;
}

.d-wrap {
  height: 100%;
  width: 100%;
  padding: 8px;

  > div {
    height: 100%;
    width: 100%;
  }
}
.d-valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@import "./cover.scss";