/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #fb7299; // B站主题色
$--color-info:  #49c8f0; // holo主题色
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$primary-color: $--color-primary;
$accent-color: $--color-info;


$primary-dark-9:  mix(black, $primary-color, 90%);
$primary-dark-7:  mix(black, $primary-color, 70%);
$primary-dark-5:  mix(black, $primary-color, 50%);
$primary-dark-3:  mix(black, $primary-color, 30%);
$primary-dark-1:  mix(black, $primary-color, 10%);

$primary-light-1: mix(white, $primary-color, 10%);
$primary-light-3: mix(white, $primary-color, 30%);
$primary-light-5: mix(white, $primary-color, 50%);
$primary-light-7: mix(white, $primary-color, 70%);
$primary-light-9: mix(white, $primary-color, 90%);

$accent-dark-9:  mix(black, $accent-color, 90%);
$accent-dark-7:  mix(black, $accent-color, 70%);
$accent-dark-5:  mix(black, $accent-color, 50%);
$accent-dark-3:  mix(black, $accent-color, 30%);
$accent-dark-1:  mix(black, $accent-color, 10%);

$accent-light-1: mix(white, $accent-color, 10%);
$accent-light-3: mix(white, $accent-color, 30%);
$accent-light-5: mix(white, $accent-color, 50%);
$accent-light-7: mix(white, $accent-color, 70%);
$accent-light-9: mix(white, $accent-color, 90%);

$--tree-node-hover-background-color: $primary-light-9;

@import "~element-ui/packages/theme-chalk/src/index";

$basic-border: $--border-color-base;
